
// Pure CSS, thanks https://github.com/abpetkov/switchery/issues/13
.switch input {
  display: none;
}
.switch {
  i {
    border: 3px solid $gray-light;
    display: inline-block;
    cursor: pointer;
    padding-right: 25px;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    border-radius: 30px;
    background: $gray-light;
  }

  i:before {
    display: block;
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 3px solid transparent;
    background: white;
    box-shadow: $shadow-z-1;
  }

  :checked + i {
    padding-right: 0;
    padding-left: 25px;
    background: $brand-primary;
    border: 3px solid $brand-primary;
  }

  :disabled + i {
    border: 3px solid lighten($gray-light, 5%) !important;
    background-color: lighten($gray-light, 5%) !important;
    box-shadow: none;
    cursor: not-allowed;
  }

  :disabled + i:before {
    background-color: lighten($gray-light, 10%);
    box-shadow: none;
  }

  &.switch-sm i {
    padding-right: 18px;
    border-radius: 15px;
    vertical-align: middle;
  }

  &.switch-sm i:before {
    width: 15px;
    height: 15px;
    border-radius: 15px;
  }

  &.switch-sm :checked + i {
    padding-right: 0;
    padding-left: 18px;
  }

  &.switch-sm i + span {
    margin-left: 10px;
  }
}

.switch.switch-success :checked + i {
  border: 3px solid $brand-success;
  background: $brand-success ;
}

.switch.switch-info :checked + i {
  border: 3px solid $brand-info;
  background: $brand-info ;
}

.switch.switch-warning :checked + i {
  border: 3px solid $brand-warning;
  background: $brand-warning ;
}

.switch.switch-danger :checked + i {
  border: 3px solid $brand-danger;
  background: $brand-danger ;
}

.switch.switch-orange :checked + i {
  border: 3px solid $color-orange;
  background: $color-orange;
}
