.full-page-overlay {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1200;
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center;
  line-height: 100vh;

  .loader {
    vertical-align: middle;
  }
}
