// Default styles
#sidebar-container.sidebar--fixed {
  width: $sidebar_width;
  background: $reverse;
  position: fixed;
  top: $header_height;
  left: 0;
  height: 100%;
  z-index: $zindex-sidebar;
  // border-right: 1px solid #e8e8e8;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

  ul {
    padding-left: 0;
    list-style: none;
  }

  > .nav-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.sidebar__item {
  display: block;
  width: 100%;
  // height: $sidebar_item_height;
}

.sidebar__item > a {
  display: block;
  width: 100%;
  padding: 13px 20px;

  &:hover {
    background: $link_active_bg;
    color: $color-orange;
  }

  .item__icon {
    display: inline-block;
    width: $sidebar-icon-size;
    height: $sidebar-icon-size;
    vertical-align: middle;
    background: $color-orange;
  }

  .item__label {
    line-height: $sidebar-icon-size;
    font-size: 16px;
    display: inline-block;
    margin-left: 10px;
  }

}


.sub-menu {
  display: none;
}

// off canvas navigator


@media (max-width: $screen-sm-max) {
  .on-canvas {
    #header {
      position: fixed;
      right: 0;
      left: 0;
      z-index: 12; // so that drop down is over on off-canvas nav
    }

    #nav-container {
      display: block;
      position: fixed;
      top: $header_height * 2;
      bottom: 0;
      float: none;
    }

    .main-container {
      overflow: hidden;
      #content {
        margin-left: 220px;
        margin-right: -220px;
      }
    }
  }
}
